body{
    background-color: #131417;
}
h1{
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    text-align: center;
    font-size: 16px;
    font-style: italic;

}

.obrazok{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.box{
    background: #2C303A;
    color: whitesmoke;
    height: 450px;
    width: 350px;
    border-radius: 8px;
    margin: 0 auto;
}

.logg{
font-family: 'Montserrat', sans-serif;
font-size: 33px;
margin-bottom: 30px;
margin-top: 30px;
padding-top: 30px;
text-align: center;
}

input:not([type="checkbox"])
    {
    font-family: 'Montserrat', sans-serif;
    margin: 0 10% 30px;
    background: #fff;
    border: none;
    width: 250px;
    padding: 15px 20px;
    border-radius: 5px;
    display: block;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .12);
   
}

input:focus{
    outline: 2px solid lightsteelblue;
}
button{
    font-family: 'Montserrat', sans-serif;
    border: none;
    width: px;
    padding: 15px 20px;
    border-radius: 5px;
    margin-left: 20px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .12);


}

.forgot{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 20px;
}

.forgot:hover{
    color: red;
    cursor: pointer;
}

.tlacitka{
    text-align: center;
    
   }

label{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    cursor: pointer;
    
}